*{
    margin: 0;
    font-family: 'Roboto-regular', sans-serif;
}

body{
    height:1024px;
    width: 1024px;
    box-sizing: border-box;
}

h1{
    font-weight: 400px;
}

h2{
    text-align: center;
    font-weight: 400;
    
}
.cabezeraDescuentos{
    background-color: #1CD1B0;
    padding: 10px;
    
}

.header{
    margin-bottom:50px;
    box-sizing: border-box;
}
.tituloHeroes{
    background-color:#00669F;
    padding: 28px;
}

.card{
    width: 300px;
    box-sizing: border-box;
    
}

.card-head{
    position: relative;
    background-image: url("../img/imgBatman.png");
    height: 193px;
}

.card-bottom{
    padding-top: 74px;
    text-align: center;
    height: 336px;
    background-color: #F3F3F3;
    box-sizing: border-box;
    filter: drop-shadow(0 0 4px rgb(122, 122, 122));
}


.card-bottom p{
    padding-left: 16px;
    padding-right: 16px;
    padding-top:10px;
    box-sizing: border-box;
    text-align: left;
 
}

.img-redonda{
    
    position: absolute;
    left:calc(50% - 60px);
    top: 128px;
    border-radius: 60px;
    box-sizing: border-box;
    z-index: 10;
}

.like{
    position: absolute;
    top: 21px;
    left: 16px;


}

.boton-card{  
    display: inline-block; 
    margin-top: 52px; 
    font-size: 15px;
    background-color: #00669F;
    font-weight: 400px;
    padding: 15px 37px 15px 37px;
    color:#F3F3F3;  
}
